/* components/AppDownloadButtons.module.css */
.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.badge {
  width: 200px;
  height: auto;
  transition: opacity 0.3s ease;
}

.comingSoonText {
  font-size: 1.5rem;
  color: #9333ea; /* purple-600 */
  font-weight: 600;
  margin-bottom: 1rem;
}
